<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.atstudy.mybatis.dao.mapper.GoodsMapper">
<!-- 
namespace:名称空间;指定为接口的全类名
id：唯一标识
resultType：返回值类型
#{id}：从传递过来的参数中取出id值

public Employee getEmpById(Integer id);
 -->

	<insert id="create">
		insert into goods(goods_id, store_id, tags, title) values(#{goodsId}, #{storeId}, #{tags}, #{title})
	</insert>


	<select id="getById" resultType="top.atstudy.mybatis.dao.dto.GoodsDTO">
		select goods_id goodsId, store_id storeId, tags, title from goods where goods_id = #{goods_id}
	</select>


	<select id="find" resultType="top.atstudy.mybatis.dao.dto.GoodsDTO">
		select goods_id, store_id, title, tags from goods
	</select>
</mapper>